[submodule "Vector"]
	path = Vector
	url = https://github.com/cmlsgmv/Vector.git
[submodule "NATS"]
	path = NATS
	url = https://github.com/cmlsgmv/NATS.git
[submodule "Enrichment"]
	path = Enrichment
	url = https://github.com/cmlsgmv/Enrichment.git
