[submodule "Vector"]
	path = Vector
	url = https://github.com/cmlsgmv/Vector.git
[submodule "NATS"]
	path = NATS
	url = https://github.com/cmlsgmv/NATS.git
[submodule "Enrichment"]
	path = Enrichment
	url = https://github.com/cmlsgmv/Enrichment.git
[submodule "Anomaly_detectors"]
	path = Anomaly_detectors
	url = https://github.com/cmlsgmv/Anomaly_detectors.git
[submodule "Wazuh"]
	path = Wazuh
	url = https://github.com/cmlsgmv/Wazuh.git
